/* Root informatie Begin */

:root {
    --main-red: #d1381c;
    --main-background: #e3ded3;
    --main-purple: #6a6aaf;
    --main-white: #fffafa;
    --main-black: #181b17;
}

/* Root informatie Einde */
/* Body informatie Begin */

body, h1, h2, h3, h4, h5, h6  {
    font-family: "Segoe UI", Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Body informatie Einde */
/* Header informatie Begin */

header {
    width: 100%;
    height: 75px;
    overflow: hidden;
    background: var(--main-red);
}

.mobile_menu {
    display: none;
}

.menu {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: #fff;
    text-align: center;
}

.menu ul {
    display: inline-block;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

.menu ul li a {
    color: var(--main-white);
    text-decoration: none;
}

.menu ul li a.active {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu {
    width: 365px;
    position: absolute;
    top: 5%;
    margin-left: 42%;
    transform: translate(-55%, -50%);
    color: #fff;
    text-align: center;
}

.menu ul {
    display: inline-block;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
}

.menu ul li a {
    color: var(--main-white);
    text-decoration: none;
    font-weight: bolder;
}

.menu ul li a.active {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--main-black);
    text-decoration: none;
}

/* Header Informatie Einde */
/* Page Informatie Begin */

#page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #e2ded2;
}

/* Page Informatie Einde */
/* Footer Informatie Begin */

footer {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
    left: 0%;
    background: var(--main-red);
}

/* Footer Informatie Einde */
